<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="main.css">

    <title>Mako for <%= today %></title>
  </head>
  <body>
    <header id="banner">
      <h1 class="banner-text">🥛 Mako |</h1>
      <h4 class="banner-text"><%= today %></h4>
    </header>

    <section id="feed-container">
      <% feeds.each do |feed| %> 
        <% if feed.articles.size > 0 %>
          <section>
            <header class="article-header">
              <h1><a href="<%= feed.url %>"><%= h(feed.title) %></a></h1>
            </header>
            <% feed.articles.each do |article| %>
              <article>
                <h3><a href="<%= article.url %>"><%= h(article.title) %></a></h3>
                <p class="meta"><%= article.formatted_published %></p>
                <%= article.summary %>
              </article>
              <hr />
            <% end %>
          </section>
        <% end %>
      <% end %>
    </section>

    <footer id="footer">
      <p class="meta">Last updated: <%= last_updated %></p>

      <a class="meta" href="https://github.com/jonathanpike/mako">About</a>
    </footer>
  </body>
</html>
